// Colour Palette:
$dark-primary-color: #0f1041;
$accent-color: #2962ff;
// Grey Palette:
$grey-color-1: #666666;
$grey-color-2: #aaaaaa;
// Common:
$white-color: #ffffff;
$black-color: #000000;
$error-color: #f44336;
// Blues Palette:
$blue-color-1: #2865a1;
$blue-color-2: #1035ac;
$blue-color-3: #0e3162;
//purple palette
$purple-color-1: #c850c0;
//pink palette
$pink-color: #eb8fe5;
//yellow palette
$yellow-color: #ffff00;